.content{
    background-color: white;
    max-width: 70%;
    width: 100%;
    margin: 0 auto;
    height: auto;
    margin-bottom: 20px;
    box-shadow: 0 3px 6px rgb(156, 156, 156);
    border-radius: 8px;
}
.main{
    padding: 1%;

}
.head{
    text-align: center;
}
.head h1:nth-child(1){font-size: 50px;font-weight: 400;line-height: 70px;}
.head h1:nth-child(3){font-size: 30px;font-weight: 300;line-height: 40px;}
.main{
    display: grid;
}
.grid-content{
 display:grid;
 grid-template-columns: 50% 2fr;
 /* grid-template-rows: 300px 1fr; */
 
}


.left{
 margin: 2%;
 padding: 3%;
}
.left h1{
    
    font-size: 25px;
    font-weight: bold;
    text-align: left;
}
.left span{
    font-size: 25px;
}
.left .fb{
    background: transparent linear-gradient(111deg, #38ABE6 0%, #3C5A9A 100%) 0% 0% no-repeat padding-box;
    border-radius: 15px;
    color: white;
    font-size: 25px;
    padding: 5px;
    font-weight: 200;
    border: 0px solid;
    cursor: pointer;

}
.left .line{
    background: transparent linear-gradient(99deg, #15CB14 0%, #1AAD11 100%) 0% 0% no-repeat padding-box;
    border-radius: 15px;
    color: white;
    font-size: 25px;
    padding: 5px;
    font-weight: 200;
    border: 0px solid;
    margin: 10px;
    cursor: pointer;

}

.right{
    background: #F9F9F9 0% 0% no-repeat padding-box;
border: 1px solid #DFDFDF;
border-radius: 14px;
    padding: 3%;
    margin: 2%;
}
.right h1{
    font-weight: 300;
}
.right input[type="text"]{
    margin: 1%;
    padding: 5px;
    font-size: 20px;
}
 
.right textarea{
    margin: 1%;
    padding: 5px;
    font-size: 18px;

}
.right .inbox{
    background: transparent linear-gradient(89deg, #f1d96c 0%, #FF4501 100%) 0% 0% no-repeat padding-box;
border-radius: 14px;
color: white;
font-size: 25px;
font-weight: 500;
text-align: center;
border: 0px solid;
padding: 5px 60px;
margin: 1%;
cursor: pointer;

}
.map iframe{
   width: 100%;
   height: 300px;
border: 0px solid;
border-radius: 10px;

    margin: 0 auto;
}
