/* set body */
/* start hesder and navbar*/

/* start section */
.search{
    margin-left: 790px;
top: 366px;
left: 1087px;
width: 445px;
height: 51px;
background: #F1F1F1 0% 0% no-repeat padding-box;
border-radius: 36px;
opacity: 1;
}

.data{
    position: relative;
    margin-left: 10%;
    text-align: left;
    font-size: 22px;
  /* background: turquoise; */
  width: 80%;
  margin-top: 20px;
}
.data p{
    padding-left: 5%;
}
.side{
  /* float: left; */
  text-align: left;
  margin-left: 2%;
}
.data table{
  margin-left: 10%;
}

.data p{
  line-height: 2em;
}
h1:nth-child(1){
 padding-top: 30px;
 font-weight: 400;
font-size: 60px;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
h1:nth-child(2){
    padding-top: 30px;
    font-weight: 400;
   font-size: 60px;
   letter-spacing: 0px;
   color: #000000;
   opacity: 1;
   }
.pic{
    padding-top: 40px;
}
/* start section */
.con_head h2{
  margin-left: 10%;
  width: 93px;
height: 49px;
text-align: left;
font-size: 30px;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.con_head .hr_head{
  width: 300px;
  margin-left: 10%;
  border: 0.3px solid rgb(199, 199, 199);
}
.con_head p{
  font-size: 20px;
  color: #616161;
  text-align: left;
  margin-left: 10%;
}
.container-detall{
    text-align: center;
    margin-left: 270px;
width: 1423px;
height: auto;
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
}
.container{
    text-align: center;
width: 100%;

background: #F4F4F4 0% 0% no-repeat padding-box;
opacity: 1;
}
/* start footer */

/* end footer */
/* slider*/
.mySlides img{
    max-width: 500px;
    max-height: 300px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    vertical-align: middle;
}
/* Position the image container (needed to position the left and right arrows) */
.zoneimgslider {
    position: relative;
   
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: relative;
    top: 40%;
    width: auto;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: -50px;
    color: rgb(255, 136, 0);
    font-weight: bold;
    font-size: 26px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .prev{
    margin-left:0%;
    border-radius: 3px 0 0 3px;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
 
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(219, 219, 219, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .con_head h2{
    margin-left: 10%;
    width: 93px;
  height: 49px;
  text-align: left;
  font-size: 30px;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  }
  .con_head .hr_head{
    width: 300px;
    margin-left: 10%;
    border: 0.3px solid rgb(199, 199, 199);
  }
  .con_head p{
    font-size: 20px;
    color: #616161;
    text-align: left;
    margin-left: 10%;
  }
  .caption-container {
    text-align: center;
    background-color: rgb(78, 77, 77);
    padding: 2px 16px;
    color: white;
    width: 60%;
    margin: 0 auto;
    height: 1px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
    
  }
  .row{
      width: 60%;
      margin:  0 auto;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }