/* start hesder and navbar*/

/* start section */
h1{
   font-weight: 300;
font-size: 4rem;
letter-spacing: 0px;
color: #707070;
opacity: 1;
padding-top: 4%;

}
.detallAll{
    margin-top: 3%;
    margin-left: 107px;
display: grid;
grid-template-columns:500px 1fr;
}
.detallAll img{
   border-radius: 10px;
}
.detall{
    padding: 2%;
    width: 646px;
height: auto;
text-align: left;
font: italic normal normal 28px FC Active;
color: #707070;
opacity: 1;
  
background: #F3F3F3 0% 0% no-repeat padding-box;
border: 1px solid #D5D5D5;
border-radius: 12px;
}
.container-detall{
    height: 700px;
    text-align: center;
    margin-left: 270px;
width: 1423px;

background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
}
.container{
    text-align: center;
width: 100%;
background: #F4F4F4 0% 0% no-repeat padding-box;
opacity: 1;
}
/* start footer */


/* end footer */