/* start hesder and navbar*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;

}

/* header{
    width: 100%; */
    /* border-top: 5px solid#FF2B00;
    border-top: 3px solid #FFDE06; 
    background-color: #FFFFFF;
    box-shadow:  0px 3px 6px #00000054;
    margin-bottom: 1%;
   
}*/
/*.border-menu{
 background: transparent linear-gradient(to right,  #FFDE06 0%, #FF2B00 100%) ;
height: 3px;
width: 50%;
margin: 0 auto;
}
.menu .active{
    color: #FF3000;
}
.border{
    background: transparent linear-gradient(to right,  #FFDE06 0%, #FF2B00 100%) ;
    opacity: 1;
    height: 4px;
    width: 100%;
}
.logo{
    width: 88%;
    height: 100%;
    margin:  0 auto;
    float: right;
   
}
.logo-f{
    
    width: 60%;
    height: 90%;
    margin:  3% auto;
}
.container-header{
    
    max-width: 1920px;
    width:100%;
    padding: 10px;
    text-align: center;


    
}
.grid-nav{
    display: grid;
    grid-template-columns:450px 1fr;
    
}
ul.menu{
    
    display: grid;
   grid-template-columns: repeat(6, 1fr);
   width: 90%;
 margin-left:5%;

}
.menu span{
    font-size: 25px;
}
ul.menu li{
    border-right: 0.3ch solid #f5f5f5;
    text-align: center;
    margin-top: 15%;
    padding-top: 5%;
    
    /* padding-top: 15%; 
    list-style-type: none;
    height: 60%;
    line-height: 30px;
    transition: ease-in-out 0.3s;
}*/

/*ul.menu li:nth-child(6){
    border-right: 0 solid #C2C2C2;
    text-align: center;
   
    margin-top: 15%;
    padding-top: 5%;
    height: 60%;

    list-style-type: none;
    
}
ul.menu li  .dropdown-content li:nth-child(1){
    margin-top: 0%;
    /* border: 1px solid #000000;
    padding: 10px;
} */
/*ul.menu li  .dropdown-content li:nth-child(2){
    margin-top: 0.1%;
    border-top: 1px solid #000000;
    padding: 10px;
}
ul.menu li a{
    
    text-decoration: none;
    color: #707070;
    font-size: 30px;
    transition: ease-in-out 0.3s;
}
ul.menu li a:hover {

    
    color: #FF3000;
}
.dropdown-content{
    position: absolute;
    display: none;
    
   
    
}*/

/*.dropdown-content li{
    /* border-bottom: 1px solid #707070;


} */
/*.menu li:hover .dropdown-content{
    display: block;
    background-color: #ffffff;
     width: 16%;
  border-radius: 6px;
    border: 1px solid #000000;
    border-radius: 6px;

   height: auto;
}*/
/************************* start section *************************/
.container{
    min-height: 100%;
   
}
.border-content{
    background: transparent linear-gradient(to right,  #FFDE06 0%, #FF2B00 100%) ;
    opacity: 1;
    height: 4px;
    width: 70%;
    margin: 0 auto;
    
}

.detallAll:nth-child(1){
    
   
    margin: 5% 0 0 0%;
    
}

.detallAll{
    text-align: left;
    /* margin: 5%; */
    /* margin-left: 238px; */
    margin: 2% 0 0 0%;
    display: grid;
    grid-template-columns: 200px 1fr;
    
    padding-bottom: 30px;
    padding-left:10%; 
    /* รูปจาร */
}
.detallAll img{
    max-width: 150px;
    max-height: 220px;
    border-radius: 5px;
    transition: ease-in-out 0.3s;
}
.detallAll img:hover{
    transform: scale(1.3);
}

.container-detall  h1:nth-child(1){
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 0px;

    color: #000000;
    padding-top: 40px;
   
    }
.container-detall   h1{
    font-size: 30px;
    font-weight: 400;
    line-height: 25px;
    color: #000000;

    }
.container-detall{
    box-shadow: 0 3px 6px rgb(156, 156, 156);
    text-align: center;
    
width: 60%;
margin: 0 auto;
padding-bottom: 30px;
background-color: rgb(255, 255, 255);

}
#pagination_controls{
    margin-top: 30px;
    
}

/* start footer */
/*footer{
 background-color: #FFFFFF;

}
.foot{
    display: inline-grid;
    grid-template-columns: 390px 390px 300px;
}
.foot span{
    font-size: 14px;
    color: #707070;
}
.adddese{
    margin-top: 5%;
}
.social{
    margin-top: 1.5%;
    margin-right: 5%;
    float: right;
}
.social img:nth-child(1){
    margin-right:30px
}
.bread{
    text-align: center;
    background-color: #E5E5E5;
    line-height: 12px;
}
.bread span{
    font-size:10px
}
.add{
    display: grid;
    grid-template-columns: 50px 250px;
}
*/