* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background-color: #F4F4F4;

}
header{
    width: 100%;
    /* border-top: 5px solid#FF2B00;
    border-top: 3px solid #FFDE06; */
    background-color: #FFFFFF;
    box-shadow:  0px 3px 6px #00000054;
    margin-bottom: 1%;
   
}
.border-menu{
 background: transparent linear-gradient(to right,  #FFDE06 0%, #FF2B00 100%) ;
height: 3px;
width: 50%;
margin: 0 auto;
}
.menu .active{
    color: #FF3000;
}
.border-content-t{
    background: transparent linear-gradient(to right,  #FFDE06 0%, #FF2B00 100%) ;
    height: 3px;
    width: 20%;
    margin: 0 auto;
}
.border{
    background: transparent linear-gradient(to right,  #FFDE06 0%, #FF2B00 100%) ;
    opacity: 1;
    height: 4px;
    width: 100%;
}
.logo {
    width: 88%;
   
    /* height: 100%; */
    margin:  0 auto;
    float: right;
   
}
.logo a img{
max-width: 320px;
max-height: 133px;
}


.logo-f{
    
    width: 60%;
    height: 90%;
    margin:  3% auto;
}
.container-header{
    
    max-width: 1920px;
    width:100%;
    padding: 10px;
    text-align: center;


    
}
.grid-nav{
    display: grid;
    grid-template-columns:450px 1fr;
    
}
ul.menu{
    
    display: grid;
   grid-template-columns: repeat(6, 1fr);
   width: 90%;
 margin-left:5%;

}
.menu span{
    font-size: 25px;
}
ul.menu li{
    border-right: 0.3ch solid #f5f5f5;
    text-align: center;
    margin-top: 15%;
    padding-top: 5%;
    
    /* padding-top: 15%; */
    list-style-type: none;
    height: 60%;
    line-height: 30px;
    transition: ease-in-out 0.3s;
}

ul.menu li:nth-child(6){
    border-right: 0 solid #C2C2C2;
    text-align: center;
   
    margin-top: 15%;
    padding-top: 5%;
    height: 60%;

    list-style-type: none;
    
}
ul.menu li  .dropdown-content li:nth-child(1){
    margin-top: 0%;
    /* border: 1px solid #000000; */
    padding: 10px;
}
ul.menu li  .dropdown-content li:nth-child(2){
    margin-top: 0.2%;
    border-top: 1px solid #000000;
    padding: 10px;
}
ul.menu li  .dropdown-content li:nth-child(3){
    margin-top: 0.2%;
    border-top: 1px solid #000000;
    padding: 10px;
}
ul.menu li a{
    
    text-decoration: none;
    color: #707070;
    font-size: 30px;
    transition: ease-in-out 0.3s;
}
ul.menu li a .border-menu{
    opacity: 0;
    transition:  ease-in-out 0.3s;
}
ul.menu li a:hover  {
    
    cursor: pointer;
    color: #FF3000;
}
ul.menu li a:hover .border-menu{
   opacity: 1;
}
.dropdown-content{
    position: absolute;
    display: none;
    z-index: 1;
   
    
}


.menu li:hover .dropdown-content{
    display: block;
    background-color: #ffffff;
     width: 16%;
  border-radius: 6px;
    border: 1px solid #000000;
    border-radius: 6px;
    margin-top: 0.2%; /*ระยะห่าง dropdown ตัวแรกกับ head */

    
   height: auto;
}

.container-detall{
    min-height: 100%;

}
.navi{
    float: left;
    margin-left: 1%;
  
  }
  .navi a{
    text-decoration: none;
  }
/***********************************Footer *******************************************/
footer{
    background-color: #FFFFFF;
    width: 100%;
    /* height: 150px; */
    bottom: 0;
    top: 0;
    /* height: auto; */
   
   
  
    /* height: 50px; */
  /* margin-top: -50px; */
    /* position: relative; */
    /* height: 200px; */
    /* margin-top: -200px; */
}
.foot{
    display: inline-grid;
    grid-template-columns: 390px 500px ;
    
}
.foot img{
 
    padding-bottom: 10px;
}
.foot span{
    font-size: 14px;
    color: #707070;  
}
.adddese{
    text-align: left;
    margin-top: 5%;
}
.social{
    margin-top: 1.5%;
    margin-right: 5%;
    float: right;
}
.social img:nth-child(1){
    margin-right:30px
}
.bread{
    text-align: center;
    background-color: #E5E5E5;
    line-height: 12px;
}
.bread span{
    font-size:10px
}
.add{
    display: grid;
    grid-template-columns: 50px 500px;
}

/* btn */
.btn_download{
    color: white;;
    background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
     padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border: 0px solid;
    transition: ease-in-out 0.3s;
    background-size: 300% 100%;

    border-radius: 40px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.btn_download:hover{
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  
}
.btn_goto{
    color: white;;
    background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
     padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border: 0px solid;
    transition: ease-in-out 0.3s;
    background-size: 300% 100%;

    border-radius: 40px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.btn_goto:hover{
   
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  
}

.btn_click{
    text-decoration: none;
    font-size: 20px;
    padding: 1%;
    
    /* background: rgb(177, 115, 0);
    color: white; */
    /* background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516); */
    background: linear-gradient(to right, #fc354c, #0abfbc);
    background-size: 400% 100%;
    color: white;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    border-radius: 8px;
    transition: ease-in-out 0.3s;
}

.btn_click:hover{
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.btn_Previous{
    text-decoration: none;
    font-size: 20px;
    padding: 1%;
    color: white;
    
    /* background: rgb(177, 115, 0);
    color: white; */
    /* background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516); */
    background: linear-gradient(to right, #fc354c, #0abfbc);
    background-size: 200% 100%;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    border-radius: 8px;
    transition: ease-in-out 0.3s;
}
.btn_Previous:hover{
   
    background-position: 100% ;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

}