/* set body */

/* end header */
/* start section */

.btn-news{
    background: #910202 0% 0% no-repeat padding-box;
border: 1px solid #707070;
opacity: 1;
    width: 246px;
height: 49px;
    font-size: 30px;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
margin-top: 2%;
margin-left: 2%;
border-radius: 8px;
cursor: pointer;
}
.btn-notact{
    background: #efefef 0% 0% no-repeat padding-box;
border: 1px solid #838282;
opacity: 1;
    width: 246px;
height: 49px;
    font-size: 30px;
letter-spacing: 0px;
color: #272727;
opacity: 1;
margin-top: 2%;
margin-left: 2%;
border-radius: 8px;
cursor: pointer;
transition: ease-in-out 0.3s;
}
.btn-notact:hover{
    background: #910202 0% 0% no-repeat padding-box;

color: #ffffff;

cursor: pointer;
}

.title{
    text-align: center;

}
.title h1:nth-child(1){font-size: 60px; font-weight: 400;}
.title h1:nth-child(2){font-size: 40px; font-weight: 400; line-height: 20px;}
.container-detall{
    margin-top: 1%;
    text-align: left;
}
.news{
    margin-top: 2%;
margin-left: 4%;
    width: 90%;
    display: grid;
    grid-template-columns: 450px 1fr;
    border-bottom: 1px solid silver ;
    padding-bottom: 15px;
    
}
#pagination_controlsa{
    margin-left: 40%;
    margin-top: 30px;
}
.detall{
    display: grid;
    grid-template-columns: 130px 1fr;
}
.container{
    text-align: center;
}

h1.year-type{
    
font-size: 60px;
font-weight: 400;
letter-spacing: 0px;
color: #B75842;
opacity: 1;
}

.active-year{
    background-color: #A03838 ;
    color: white;
}
.year-study button:hover{
    background: #A03838 ;
    color: white;
    
}

.container-detall{
    padding-top: 20px;
    margin: 10px auto;
    width: 100%;
    background-color: white;
    padding-bottom: 1%;
    box-shadow: 0 3px 6px rgb(156, 156, 156);
    margin-bottom: 1%;
}

.detallFonews img{
    max-width: 380px;
    max-height: 250px;
    width: 100%; 
    height: 100%; 
    border-radius: 8px;
    transition: ease-in-out 0.3s;
}
.detallFonews img:hover{
    transform: scale(1.2);
}

.detallFonews a{
text-decoration: none;
font-size: 24px;
max-width: 716px;
}
.detallFonews span{
    font-size: 20px;
}
.news-detall{
    max-width: 716px;
}
.date{
    float: right;
}
.texttable{
    max-height: 290px;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* end section */
/* start footer */
.pagination{
    margin-left: 38%;
    margin-top: 40px;
}

/* end footer */
.dropdown-content{
    padding-left: 0;
   
    
}