/* set body */
/* start hesder and navbar*/

/* start section */
.search{
  margin-left: 790px;
top: 366px;
left: 1087px;
width: 445px;
height: 51px;
background: #F1F1F1 0% 0% no-repeat padding-box;
border-radius: 36px;
opacity: 1;
}
.navi{
  float: left;
  margin-left: 1%;

}
.navi a{
  text-decoration: none;
}
.data{
  position: relative;
  margin-left: 10%;
  text-align: left;
  font-size: 22px;
/* background: turquoise; */
width: 80%;
padding-bottom: 10%;
margin-top: 10px;
}
.data p{
  padding-left: 5%;
}

h1:nth-child(1){
padding-top: 30px;
font-weight: 400;
font-size: 60px;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
h1:nth-child(2){
  padding-top: 30px;
  font-weight: 400;
 font-size: 60px;
 letter-spacing: 0px;
 color: #000000;
 opacity: 1;
 }
.pic{
  padding-top: 40px;
}
/* start section */
.con_head{
margin-top: 20px
}
.con_head h2{
margin-left: 10%;
width: auto;
height: 49px;
text-align: left;
font-size: 30px;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.con_head .hr_head{
width: 300px;
margin-left: 10%;
border: 0.3px solid rgb(199, 199, 199);
}
.con_head p{
font-size: 20px;
color: #616161;
text-align: left;
margin-left: 10%;
}
.container-detall{
  text-align: center;
  margin-left: 270px;
width: 1423px;
height: auto;
margin-bottom: 3%;
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
border-radius: 8px;
box-shadow: 0 3px 6px rgb(156, 156, 156);

}
.container{
  text-align: center;
width: 100%;

background: #F4F4F4 0% 0% no-repeat padding-box;
opacity: 1;
}
/* start footer */

/* end footer */
/* slider*/
.mySlides img{
  /* max-width: 50%;
  max-height: 50%; */
  width: 65%;
  height: 60%;
  border-radius: 8px;
  vertical-align: middle;
}
/* Position the image container (needed to position the left and right arrows) */
.zoneimgslider {
  position: relative;
 
}

/* Hide the images by default */
.mySlides {
  margin-top: 2%;
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: relative;
  top: 40%;
  width: auto;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: -50px;
  color: rgb(255, 136, 0);
  font-weight: bold;
  font-size: 26px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.prev{
  margin-left:0%;
  border-radius: 3px 0 0 3px;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(219, 219, 219, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: rgb(78, 77, 77);
  padding: 2px 16px;
  color: white;
  width: 60%;
  margin: 0 auto;
  height: 1px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.row{
    width: 60%;
    margin:  0 auto;
  margin-left: 25%;  

}

/* Six columns side by side */
.column {
 
  float: left;
   /* max-width: 16.66%; */
  /* width: 100%;  */
  /* max-height: 15%;
  height: 100%; */
  /* max-height: 130px;
  height: 100%; */
  max-width: 180px;
  width: 100%; 

}
.column img{
  max-width: 180px;
  width: 100%; 

  max-height: 130px;
  height: 100%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}