/* set body */
/* start haeder */
/* end header */
/* start section */
.container{ /*พื้นหลัง*/
    margin: 0 auto;
    width: 1350px;
    height: auto;
    padding-bottom: 3%;
    text-align: center;
    background-color: #FFFFFF;
    margin-bottom: 1%;
    box-shadow: 0 3px 6px rgb(156, 156, 156);
    border-radius: 8px;
}
.container h1:nth-child(1){
    padding-top: 3%;
    font-size: 60px;
    font-weight: 400;
}
.container h1:nth-child(2){
    font-size: 30px;
    font-weight: 300;
    line-height: 20px;
}
.QA{
    margin: 5% auto;
}
 .answer{
    
    max-height: 0;
    overflow: hidden;
  transition: max-height 0.2s ease-out;
  /*ทำยุบ*/
    text-align: left;
font-size: 28px;

    letter-spacing: 0px;
color: #505050;
    padding-left: 3%;
    width: 900px;
height: auto;
background: #F8F8F8 0% 0% no-repeat padding-box;/*คำตอบด้านล่าง*/
border: 1px solid #A03838;/*คำตอบด้านล่าง*/
opacity: 1;  
}

 .activee, .questionActive:hover{
    background: tomato;
   

}
.questionActive{/*ทำยุบ */
   
    outline: none; 
    margin-top: 10px;
    padding-left: 3%;
height: 39px;
text-align: left;
font-size: 28px;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
    width: 900px;
height: 65px;
background-color: #A03838;
cursor: pointer;
border: 0px solid #707070;
border-radius: 10px 10px 0px 0px;
opacity: 1;
    text-align: left; 
}

/* end section */
/* start footer */
/* end footer */