/* set body */

/* end header */
/*start section */
/* .container-photo{
   
   
    max-width: 1200px;
     margin-top: 5%; 
     margin: 5% auto; 
     text-align: center; 
}*/
.container-photo img{
    margin-top: 3% ; 
    margin-bottom: 3% ; 
    margin-left: 9%;
    float: left;
    max-width: 1100px;
    width: 100%;
    max-height: 550px;
    height:100%;
    border-radius: 10px;
    box-shadow:  1px 3px 6px 3px #00000054;

    
}
.title h1:nth-child(1){font-size: 60px; font-weight: 400;}
.title h1:nth-child(2){font-size: 40px; font-weight: 400; line-height: 20px;}
.container{
    text-align: center;
    display: grid;
    grid-template-columns: 370px 1fr;
    background-color: white;
    padding-bottom: 5%;
}
.title{
    text-align: center;
    width: 100%;
}
.year-study{
    border-radius: 8px;
    height: 600px;
    margin-top: 2%;
    width: 350px;
    margin: 10% 0 0 10%;
    box-shadow: 0 3px 6px rgb(156, 156, 156);
    
}
.year-study button{
    outline: none;
    text-align: center;
    font-size: 38px;
    letter-spacing: 0px;
    /* color: #F2F2F2; */
    width: 297px;
    height: 100px;
    transition: ease-in-out 0.3s;
    border: 0px solid;
    border-radius: 10px;
    margin-top: 2%;
    /* background: rgb(199, 199, 199); */
   cursor: pointer; 
   background-size: 300% 100%;
   background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
   /* background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B); */

}
.active_year , .btn:hover{
    /* background-color: #A03838 ; */
    color: white;
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    max-height: 600px;
}
 .year-study .btn:active{
    background: #A03838 ;
    color: white;
    
} 
.sumtable{
    grid-column: span 2;
    margin-left: 20%;
width: 1300px;
    margin-top: 0%;
    max-height: 415px;
    overflow-x: hidden;
    overflow-y:scroll ;
}

table{
    margin-left: 5%;
    /* margin-top: 3%; */
    background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #707070;
opacity: 1;
max-width: 1300px;

/* height: auto; */
}

table th{
    text-align: left;
font-size:  24px;
font-weight: 400;
padding-left: 30px;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
    width: 1170px;
height: 50px;
    background: #A03838 0% 0% no-repeat padding-box;
border: 1px solid #707070;
border-radius: 5px 5px 0px 0px;
opacity: 1;
}
table tr{
padding-left: 30px;
    height: 38px;
    background: #EFEFEF 0% 0% no-repeat padding-box;
opacity: 1;
}
table td{
    padding-left: 30px;
    font-size: 22px;
}
tr:nth-child(even) {
    background-color: #dddddd;
  }
.year-type{
    font-size: 50px;
    font-weight: 400;
}
.yeararea{
    max-height: 510px;
    overflow-x: hidden;
    overflow-y: scroll;
}
/* end section */
/* start footer */

/* end footer */