
.content {
    margin-bottom: 5%;
    height: auto;
}
.select-course{
    font-size: 25px;
    margin-bottom: 1%;
    color: rgb(70, 70, 70);

}

#active {
    background: #A03838 0% 0% no-repeat padding-box;
    color: white;
}

.year_course{
    font-size: 25px;
    padding: 0px 20px;
    border-radius: 8px;
}
#add-course{
    margin-left: 50px;
}
select{
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid; 
}
/* zone1 */
.course-name h1{
    font-size: 25px;
    color: rgb(70, 70, 70);
    font-weight: 300;

}
.course-name input{
    padding: 3px;
border-radius: 8px;
    min-width: 800px;
    border: 1px solid;
    font-size: 20px;
    margin-bottom: 1%;
    padding-left: 10px;
}
.side{
    padding-left: 40px;
}
/* end zone2 */
.course-detail{
    margin-top: 10px;
    height: auto;
}
.course-detail h1{
    font-size: 25px;
    color: rgb(70, 70, 70);
    font-weight: 300;
}
.course-detail span{
    font-size: 20px;
    color: rgb(70, 70, 70);
    font-weight: 300;

}
.zone1{
    margin-top: 10px;
}
.zone1 input{
    font-size: 22px;
    padding-left: 10px;
    margin-top: 1%;
    width: 30%;
    border-radius: 8px;
border: 1px solid;
}.zone1 a{
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 10px;
    padding-left: 5px;
 
    text-decoration: none;
    padding-right: 5px;
}
/* .course-detail input{
    width: 400px;
    border-radius: 8px;
 font-size: 16px;
    border: 1px solid;
    padding: 3px;
    margin: 0 3% ;

} */
/* .course-detail .unit{
    width: 100px;
    border: 1px solid;
    padding: 3px;
    font-size: 24px;
    text-align: center;
    
} */
.course-detail textarea{
    padding-left: 10px;
    font-size: 22px;
    border-radius: 8px;
}
/* .course-detail input:nth-child(8){
    width: 700px;
    border: 1px solid;
    padding: 3px;
}.course-detail input:nth-child(10){
    width: 700px;
    padding: 3px;
    margin-top: 10px;
    border: 1px solid;
    margin-bottom: 1%;
} */

/*end zone 3*/
/* start groupmajor zone 4*/
.zone4 span{
    font-size: 22px;
    padding-left: 10px;
    margin-top: 1%;
    width: 30%;
border-radius: 8px;
}
.zone4 a{
    text-decoration: none;
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.zone4 textarea{
    padding-left: 10px;
    font-size: 22px;
    border-radius: 8px;
}
.zone4 .btn-ok{
    margin-left: 3%;
    padding: 0;
}
.zone1 .btn-ok{
    margin-left: 3%;
    padding: 0;
}
.course-groupmajor  .unit{
    width: 100px;
    border: 1px solid;
    padding: 3px;
    font-size: 24px;
    text-align: center;;
    border-radius: 8px;
    margin-left: 20px;
    margin-right: 20px;
}
.course-groupmajor p{
    font-size: 25px;
    color: rgb(70, 70, 70);
}
.course-groupmajor .zone2{
    margin-top: 20px;
    font-size: 25px;
    color: rgb(70, 70, 70);
}
.course-groupmajor label{
    font-size: 25px;
    color: rgb(70, 70, 70);
}
/******************  photo  ******************************/
.previewimg img{
    max-height: 250px;
    max-width: 350px;
    width: 100%;
    height: 100%;
}
.previewimg .btn-upload{
    width: auto;
}
/* .course-groupmajor  select{
    font-size: 20px;
    color: rgb(70, 70, 70);
    padding: 5px;
    border-radius: 8px;
}
.course-groupmajor  input[type="button"]{
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 20px;

}
.course-groupmajor input[type="text"]{
    font-size: 20px;
    color: rgb(70, 70, 70);
    padding: 5px;
    border: 1px solid;
    border-radius: 8px;
} */
/* end zone 4 */
/* start  course-environment*/
.course-environment{
    margin-top: 5%;
}
.course-environment h1{
    font-size: 25px;
    color: rgb(70, 70, 70);
}
.course-environment label{
    font-size: 20px;
    color: rgb(70, 70, 70);
}
.course-environment select{
    width: 300px;
    font-size: 18px;
    margin-bottom: 1%;
}
.course-environment .previewimg img{
    border-radius: 8px;
}
.course-environment input{
    font-size: 20px;
    margin-bottom: 20px;
    border: 1px solid;
}
.course-link h1{
    font-size: 25px;
}
.course-link label{
    font-size: 20px;
}
.course-link input{
    font-size: 20px;
    border: 1px solid;
    margin-bottom: 20px;
}
.btn-ok{
    margin-top:50px;
    width: 150px;
}
.link_dl , .link_go{
 width: 100%;
 border-radius: 8px;
 padding-left: 10px;
}
/************************************** popup ***********************/
.headadd{
    /* margin-top: -6.5%; */
    margin-left: 30%;
    float: right;
}
.year_c{
    display: inline;
    font-size: 24px;
   
    
}
.btn_click2{
    width: 100px;

}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    height: auto;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-weight: 300
  }
  .popup .close {
    position: absolute;
    top: 10px;
    right: 30px;
    transition: all 200ms;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #025c27;
  }
  .popup .content {
      padding-top: 10%;
      padding-left: 5%;
    text-align: left;

    overflow: auto;
  }
  
  .popup .content input[type="text"]{
      font-size: 22px;
      width: 30%;
      padding-left: 10px;
  }
  .popup .content .btn-add{
      margin-top: 5%;
      margin-bottom: 2%;
      width: 30%;
      float: right;
      margin-right: 5%;
  }
