@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    background-color:#F4F4F4 ;
}
.head-con{
    display: grid;
    max-width: 100%;
    width: 100%;
    grid-template-columns: 25% 2fr;
}
.nav_logo{
    display: grid;
    /* background-color: rgb(255, 255, 255); */

    height: 180px;

}
.nav_logo img{
    background-repeat: no-repeat;
    max-width: 100%;
    width: 80%;
    margin: 2% auto;
}
.nav_logout{
    display: grid;
    background-color: #A03838;
    /* background-color: tomato; */
    height: auto;
    max-width: 100%;
    width: 100%;
    height: 120px;
    position: relative;

}
.nav_logout .logout{
/* background: #ffffff 0% 0% no-repeat padding-box; */
background: linear-gradient(rgba(44, 44, 44, 0.5),rgba(44, 1, 1, 0.5));
width: auto;
margin-left: 64%;
margin-right: 1%;
margin-top: 0.8%;
float: right;
/* position:absolute; */
height: 100px;
padding: 10px;
/* text-align: center; */
padding-top: 20px;
border-radius: 10px;
color: rgb(255, 255, 255);

}
.logout span{
    font-size: 30px;
font-weight: 200;

}
.logout h1{
    font-size: 30px;
    font-weight: 200;
}
.btn-logout{
    font-size: 29px;
    font-weight: 300;
    padding: 10px 20px;
    border:  0px solid;
    /* margin-left: 70px; */
    float: right;
transition: ease-in-out 0.5s;
border-radius: 12px;
cursor: pointer;
color: rgb(255, 255, 255);
/* background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); */
background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
background-size: 300% 100%;

border-radius: 50px;
-moz-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;
-webkit-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;

}
.btn-logout:hover{
   /* color: white;
   background: transparent linear-gradient(144deg, #FBDD1D 0%, #F56A00 100%) 0% 0% no-repeat padding-box; */
   background-position: 100% 0;
   -moz-transition: all .4s ease-in-out;
   -o-transition: all .4s ease-in-out;
   -webkit-transition: all .4s ease-in-out;
   transition: all .4s ease-in-out;

}
.menu{
    width: 80%;
    margin: 0 auto;
    margin: 5% auto;
    border-radius: 10px;
    height:  400px;
  
   
}
.menu hr{
width: 80%;
margin: 0 auto;
}
.bg-menu{
    background-color: white;
    box-shadow: 0px 3px 6px silver;
    padding-bottom: 5%;
    border-radius: 10px;
    padding-top:1%;
}
.menu h1{
    margin-top: 5%;
    font-size: 50px;
    text-align: center;
    font-weight: 300;
   
}
.ul-menu{
    background-color: white;
    width: 60%;
    font-size: 25px;
    font-weight: 200;
    margin: 5% auto;
}
.ul-menu li{
    padding: 5%;
    border: 1px solid #ebedee;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    text-align: left;
    padding-left: 15%;
   
    list-style-type: none;
}
.ul-menu li:hover{
    background: #A03838 0% 0% no-repeat padding-box;
    color: white;
} 


.ul-menu .active a{
    color: white;
}

.active{
    background: #A03838 0% 0% no-repeat padding-box;
    color: white;
}
.dropdown{
    position: absolute;
    display: none;
    transition: ease-in-out 0.5s ;
}
.ul-menu li:hover .dropdown{
    position: relative;
    display: block;
    background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  /* width: 250px; */
  min-width: 250px;
  color: black;
 margin: 10% 0%;

}
.ul-menu a{
text-decoration: none;
cursor: pointer;
    color: black;
}
.ul-menu a:hover{
text-decoration: none;
color: white;
    }

/************************ end head *********************/
.content{
 width: 95%;
 background-color: white;
 box-shadow: 0px 3px 6px silver;
 border-radius: 10px;
 height: auto;
}
.content h1{
    font-weight: 400;
}
.head-text{
    padding: 10px;
    background:#741111 ;
    color: white;
    border-radius: 8px 8px 0px 0px;
    font-weight: 300;
}
.content-inside{
    padding: 2%;
}
.uploadimg .textred{
    font-size: 16px;
padding-left: 0px;
    color: red;
}
/*************************** end content *********************/
.foot{
    

    margin-top: 3%;
    position: absolute;
    width: 100%;
    height: 25px;
    background: #A03838 0% 0% no-repeat padding-box;
}
/************************* end foot **************************/




/***********************ปุ่ม*************************/
.btn-upload{
    /* background:  linear-gradient(105deg, #73CCE8 , #245F7A ) ; */
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    /* box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75); */
   border-radius: 5px;
   font-size: 25px;
   width: 200px;
   text-align: center;
   color: rgb(255, 255, 255);
   box-shadow: 0px 3px 6px #00000029;
   cursor: pointer;
   margin: 0.5%;
   padding: 10px;
   transition: ease-in-out 0.3s;
   border: 0px solid;

   background-size: 300% 100%;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
   }
.btn-upload:hover{
   /* color: rgb(255, 255, 255);
   background:  #73CCE8; */
   background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

}

.btn-ok{
    /* background-color:#197008; */

       box-shadow: 0px 3px 6px #00000029;
       background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
       /* box-shadow: 0 2px 5px 0 rgba(23, 168, 108, 0.75); */
       color: white;
       text-align: center;
       border: 0px solid;
       font-size: 25px;
        cursor: pointer;
    border: 0px solid;

        transition: ease-in-out 0.3s;
        background-size: 300% 100%;
        -moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
padding: 10px;
border-radius: 8px;

}
.btn-ok:hover{
    /* background-color:#4CAF50; */
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

}
.btn-delete{
    background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f); 
     /* box-shadow: 0 5px 15px rgba(242, 97, 103, .4); */
    color: white;
    text-align: center;
    font-size: 25px;
    border-radius: 8px;

    /* background: #BC1022 ; */
box-shadow: 0px 3px 6px #00000029;
padding: 10px;
cursor: pointer;
transition: ease-in-out 0.3s;
    border: 0px solid;

background-size: 300% 100%;
-moz-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;
-webkit-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;

}
.btn-delete:hover{
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    /* background: #f32338 ; */
}
.btn-add{
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
box-shadow: 0px 3px 6px #00000029;
    border: 0px solid;
    background-size: 300% 100%;
padding: 10px 20px;
font-size: 25px;
cursor: pointer;
color: white;
    border-radius: 8px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.btn-add:hover{
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.btn-back{
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    /* box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75); */
    border: 0px solid;
    background-size: 300% 100%;
padding: 10px 20px;
font-size: 25px;
cursor: pointer;
color: white;
    border-radius: 8px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.btn-back:hover{
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.btn_click{
    text-decoration: none;
    font-size: 20px;
    padding: 1%;
    border: 0px solid;
    cursor: pointer;
    margin-bottom: 2%;
    /* background: rgb(177, 115, 0);
    color: white; */
    /* background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516); */
    background: linear-gradient(to right, #fc354c, #0abfbc);
    background-size: 400% 100%;
    color: white;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    border-radius: 8px;
    transition: ease-in-out 0.3s;
}

.btn_click:hover{
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.btn_click2{
    text-decoration: none;
    font-size: 20px;
    padding: 1%;
    border: 0px solid;
    cursor: pointer;
    margin-bottom: 2%;
    margin-left: 2%;
    /* background: rgb(177, 115, 0);
    color: white; */
    /* background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516); */
    background: linear-gradient(to right, #3574fc, #0abfbc);
    background-size: 400% 100%;
    color: white;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    border-radius: 8px;
    transition: ease-in-out 0.3s;
}

.btn_click2:hover{
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

/*เส้น*/
.hr_content{
    width: 300px;
    height: 3px;
    border: 0px;
    background:  linear-gradient(to right,#FFDE06 0%, #FF2B00 100%) ;
 }
 .end_centent{
    height: 2px;
    border: 0px;
    background-color: #DEDEDE;
    width: 50%;
    position: relative;
    margin: 10px auto;
}
.hr_height_center{
    top: -400px;
    left: 580px;
    width: 2px;
    height: 550px;
    background: #f0f0f0;
    position: relative;
 }
 #pagination_controls{
     margin-left: 40%;
     margin-top: 1%;
     /* margin: 0 auto; */
 }