.content h1{
    font-size: 32px;
}

/* Content 1 โลโก้ */
.content_logo{
    width: 100%;
    /* height:300px; */
    /* padding: 2% 0% 0% 5%; */

}
.upload_img_logo .btn-ok{
    margin-left: 3%;
}
.upload_img_logo ul{
    list-style: none;
    margin: 2%;
}
.upload_img_logo ul li {
   margin: 0.5%;
   padding: 5px;
   cursor: pointer;
}

.upload_img_logo ul li:nth-child(2){
 width: 7%;
}

/* End content 1 */

/* Star content2 ภาพสไลด์ */
.content_slideshow{
   padding: 0% 0% 0% 5%;
width: 100%;
height: 550px;
    position: relative;

}
.content_slideshow .btn-ok{
    width: 70%;
    font-size: 26px;
    margin-top: 30px;
    margin-left: 100px;
}
.content_slideshow .end_centent_head{
    margin-top: 2%;
    height: 2px;
}
.content_slideshow .end_centent{
    margin-top: 3%;
}
.content_slideshow h1{
    max-width: 350px;

}
.btn-upload{
    width: 400px;
 }
.content_slideshow p{
    font-size: 16px;
    max-width: 580px;

}
#photo_slide {
    margin-top: 1%;
    width: 370px;
    height: 35px;
    font-size: 25px;
    border-radius: 8px;
}
.photoPreview{
    max-width: 590px;
}
#photoPreview_slideshow{
    width: 550px;
    height: 330px;
    margin-top: 1%;
}

.Gbtn-photopreview{
   margin-left: 58%;
   margin-top: 3%;
}
.Gbtn-photopreview li{
    display: inline;
 }

 .photoslider {

width: 100%;
 }

 .photoslider table{
     width: 60%;
     border:1px solid slategrey ;
     
 }
 thead{
     font-size: 20px;
     text-align: center;
     background: rgb(218, 218, 218);
 }

 tbody{
     width: 100%;
 }
 .photoslider .btn-ok{
    width: auto;
 }
 .photoslider .btn-upload{
    width: auto;
 }
 .photoslider tbody td{
     padding: 2%;
     text-align: center;
     border:1px solid slategrey ;

 }
 .cell_img1 img{
     max-width: 300px;
     width: 50%;
     max-height: 130px;
     height: 50%;
     transition: ease-in-out 0.3s;
    z-index: 2;

 }
 .cell_img1 img:hover{
    transform: scale(1.8);
    z-index: 2;
 }
/* End Content 2*/
/*  Start Content 2.5 */
.content_sayhi{
    /* background-color: khaki; */
    width: 600px;
    height: 350px;
    margin-top: 4%;
    position: relative;
    padding-left: 0px;
    float: left;
    top: 0%;
    
}
.text-head{
    margin-top: 12%;
}
.content_sayhi input[type="text"]{
    font-size: 25px;
    width: 450px;
    padding:0.5%;
    border-radius: 8px;
}
.span-head{
    font-size: 25px;
}
.content_sayhi p span:nth-child(1), .content_sayhi p span:nth-child(2){
    font-size: 15px;
    color: rgb(70, 70, 70);
    /* padding-left:30%; */
}
#numspan{
    margin-left:50%;

}
.content_sayhi p{
    font-size: 15px;
    padding-left: 13%;
    color: rgb(70, 70, 70);
    margin-bottom:2%;

}
.content_foot
.content_sayhi input[type="button"]{
    float: right;
    width: auto;
    padding: 5px 20px;
    border-radius: 8px;
    border: 0px solid;
}
/* *********************  end Content 2.5 **************************** */
/************************* Start Content 3 News ****************************/

.content_news{
padding-left: 5%;
margin-left: 0%;
/* max-width: 1250px; */
/* max-width: 1250px; */
width: 100%;
margin-top: 68%;
padding-top: 2%;
height: 1500px;
background: rgb(245, 245, 245);
border-radius: 8px;
/* border: 1px solid black; */
}
.content_news h1 {
    font-size: 40px;
}
/***********************Table*********************/
.content_news #pagination_controls{
    /* margin-top: 0%; */
    margin-top: 1%;
    margin-bottom: 1%;
    }
.content_news  .btn-add{
        position: absolute;
        margin-left: 18%;
}
.table-striped th{
    width: 20%;
    font-weight: 400;
}
.cell_text{
width: 50%;
max-height: 100px;
overflow: hidden;

}
.text-overflow{
    display: block;
    overflow-y: hidden;
    text-overflow: ellipsis;
    max-height: 300px;
}
.cell_img{
    width: 30%;

}
.cell_status{
    width: 5%;

}
.cell_btn{
    width: 5%;

}
.content_news .table-striped {
    max-width: 1250px;
    width: 100%;
    margin-top: 4%;
    
    position: absolute;
    font-weight: 300;
    border: 1px solid rgb(163, 163, 163);
}
.table-striped button{
    font-size: 18px;
}

.photo-new{
    width: 80%;
    height: 150px;
    margin-left: 10%;
    transition: ease-in-out 0.5s;
   }
   .photo-new:hover{
       transform: scale(2);
   }

   .content_news .pagination{
    margin-top: 50%;
    margin-left: 40%;
}

.pagination{

    margin-left: 40%;
}

.end_centent_head

/*********************** End Table*********************/
/*********************** End Content 3 new ************/
/*********************** Start Content 4 activity  *******************************/
.content_activity{
    margin-left: 5%;
    max-width: 1250px;
    width: 100%;
    height: auto;
}
.content_activity input[type="button"]{
    position: absolute;
    margin-left: 18%;

}
/*********************** End Content 4 Activity  ************/
/*********************** Start Content 5 Award *******************************/

.content_award{
    margin-left: 5%;
    max-width: 1250px;
    width: 100%;
    height: auto;
}
.content_award input[type="button"]{
    position: absolute;
    margin-left: 18%;

}
/*********************** End Content 5 Award ************/

.content_foot{
    margin-top: 5%;
    width: 100%;
    height: auto;
    float: right;
position: absolute;
margin-top: -52%;
margin-left: 100%;
}
.content_foot .address{
    margin-top: 10px;
    font-size: 25px;
    border-radius: 8px;
}
.address textarea{
    padding:5px;
    font-weight: 300;font-size: 20px;
    border-radius: 8px;

}
.content_foot .photo{
    margin-top: 10px;
    font-size: 25px;
    border-radius: 8px;

}
.photo input{
    padding:5px;
    font-weight: 300;
}
.content_foot input[type="button"]{
    margin-top: 10px;
    margin-left: -35%;
}
.ok .btn-ok{
    margin-left: 10%;
}
/* ************************************************* */
/* เส้นทั้งหลาย */
/*popup*/
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    height: auto;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-weight: 300
  }
  .popup .close {
    position: absolute;
    top: 10px;
    right: 30px;
    transition: all 200ms;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #025c27;
  }
  .popup .content {
      padding-top: 10%;
      padding-left: 5%;
    text-align: left;

    overflow: auto;
  }
  
  .popup .content input[type="text"]{
      font-size: 22px;
      width: 30%;
      padding-left: 10px;
  }
  .popup .content .btn-add{
      margin-top: 5%;
      margin-bottom: 2%;
      width: 30%;
      float: right;
      margin-right: 5%;
  }
  @media only screen and (max-width: 1800px) {

    .content_news .table-striped {
        max-width: 1150px;
        width: 100%;
        margin-top: 4%;
        
       
    }
  }
  
  @media only screen and (max-width: 1600px) {

    .content_news .table-striped {
        max-width: 1050px;
        width: 100%;
        margin-top: 4%;
       
    }
    .content_sayhi span {
        font-size: 22px;
    }
    .content_sayhi h1{
        font-size: 24px;
    }
    .content_sayhi{
        height: auto;

    }
    .content_sayhi input{
        font-size: 22px;
    }
    .content_sayhi input[type="text"]{
        font-size: 22px;
        width: 350px;
    }
    #numspan {
        margin-left: 30%;
    }
    .content_foot {
       
      
        margin-top: -48%;
        margin-left: 80%;
        font-size: 22px;
    }
    .content_foot .address{
        font-size: 22px;
    }
    .content_foot .photo{
        font-size: 22px;
    }
    .ok{
        margin-top: 0;
    }
  }
  
