*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.bg-content{
max-width: 100%;
width: 100%;
height: 912px;
background: transparent linear-gradient(119deg, #F18B16CC 0%, #BC114EBF 100%) 0% 0% no-repeat padding-box;

}
.bg-log{
   max-width: 400px;
   width: 100%;
   padding-top: 8%;
margin: 0 auto;
}
.content{ 
    text-align: center;
   background-color: white;
 border-radius: 15px;
 padding: 20px;
}
.bg-log img{
width: 100%;
height: 100%;
padding: 2%;
}
.bg-log .Finput{
margin-top:15% ;
}

.Finput input:nth-child(1){
margin-bottom: 8%;

    width: 50%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    color: rgb(83, 83, 83);
    border-bottom: 2px solid rgb(133, 133, 133);
}
.Finput input[type="password"]{
margin-bottom: 15%;

    width: 50%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    color: rgb(83, 83, 83);
    border-bottom: 2px solid rgb(133, 133, 133);
}.bg-log input[type="submit"]:focus{
outline: none;}
.bg-log input[type="submit"]{
    /* background: transparent linear-gradient(116deg, #FBDD1D 0%, #F56A00 100%) 0% 0% no-repeat padding-box; */
    border-radius: 37px;
    border: 0px solid;
    padding: 10px 50px;
    color: white;
    font-size: 25px;
    cursor: pointer;
    transition: ease-in-out 1s;
   
   /* ef */
    background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
   
    background-size: 300% 100%;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.bg-log input[type="submit"]:hover{
    /* ef */
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

footer{
    width: 100%;
    height: 25px;
    background: #A03838 0% 0% no-repeat padding-box;
}