.content{
    padding: 3%;
     margin-left: 3%;
 }
 table{
    width: 100%;
    height: 67px;

 }
 .head-table{
     font-size: 22px;
     text-align: center;
     color:#707070;
 }
 .head-table td{
    border: 1px solid #707070; 
}
.detall-massage{
    border: 1px solid #707070;
    
}
.detall-massage td{
   padding: 1%;
    
}
.btn-delete{
    font-size: 20px;
    margin-left: 42%;
   
}
.foot{
    margin-top: 17.5%;
}



