.menu h1{
   
    padding-top: 5%;
}
.dropdown{
    position: relative;
    display: block;
    transition: ease-in-out 0.5s ;
    min-width: 250px;
    color: black;
    background-color: white;
   margin: 10% 0%;
}
.ul-menu li:hover .dropdown{

    background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  min-width: 250px;
  color: black;
 margin: 10% 0%;
}
.ul-menu .showli{
    background: #A03838 0% 0% no-repeat padding-box;
    color: white;
}
/* content */
.content{
    margin-bottom: 50px;


}
.content-inside label{
    font-size: 30px;
}

.table-striped th{
    font-weight: 400;
}
.phone{
    text-align: center;
}

.table-striped {
    font-weight: 300;
    
}
.table-striped button{
    font-size: 18px;
}

.photo-new{
    width: 50%;
    height: 150px;
margin-left:25%;
transition: ease-in-out 0.5s;
   }
   .photo-new:hover{
       transform: scale(1.5);
   }

.pagination{

    
    margin-left: 40%;
}

.headA{
    margin-left: 89%;
    margin-bottom: 2%;
}