.header td{
    text-align: center;
    border:1px solid#707070;
    font-size: 25px;
    padding: 1%;
}
.head-text{
    margin: -2.1%;
    width: 104.3%;
    
}.btn-upload{
    padding-left: 2%;
    padding-right: 1%;
}
.head a {
position: absolute;
margin-top: 2%;
margin-left: 54%;}
tr{
    border: 1px solid #707070;
}

table{
   margin-top: 8%;
    margin-left: 0%;
    width: 1300px;
}
.content{
    padding: 2%;
    margin-left: 3%;
    width: 95%;
    background-color: white;
    margin-bottom: 50px;

}
tbody td{
    padding: 1%;
}
.head{
    margin-left: 3%;
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
}
footer{
    margin-top: 0%;
}
.pagination{
    margin-top: 4%;
    margin-left: 40%;
}

@media only screen and (max-width: 1800px) {

    table{
        width: 1200px;
   margin-top: 9%;

    }
}

@media only screen and (max-width: 1600px) {

    table{
        width: 1080px;
   margin-top: 9%;

    }
}
