.menu h1{
   
    padding-top: 5%;
}
.dropdown{
    position: relative;
    display: block;
    transition: ease-in-out 0.5s ;
    min-width: 250px;
    color: black;
    background-color: white;
   margin: 10% 0%;
}
.ul-menu li:hover .dropdown{

    background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  min-width: 250px;
  color: black;
 margin: 10% 0%;
}
.ul-menu .showli{
    background: #A03838 0% 0% no-repeat padding-box;
    color: white;
}
/* content */
.content{
    margin-bottom: 50px;

}
.content-inside input[type="radio"]{
    width: 25px;
    height: 25px;
    margin-left: 20px;
}
.text-head .span-topic{
    font-weight: 400;
    font-size: 25px;
}
 #input-topic{
    font-weight: 200;
    padding: 3px;
    font-size: 25px;
    width: 500px;
}
.text-head p{
    font-size: 16px;
    font-weight: 300;
line-height: 20px;
padding-left:72px ;
}
.text-head p span{
    padding-left: 280px;
}
#input-data{
    font-size: 20px;
    padding: 3px;
    font-weight: 300;
}
.status{margin-top: 2% }

.status label{
    font-size: 25px;
    padding-left: 20px;
}
.uploadimg{
    margin-top: 2%;
}
.uploadimg {
    position:absolute;
    margin-left: 35%;
    margin-top: -11%;
    width: 600px;
    font-size: 22px;
}
.uploadimg .btn-upload{
    width: 400px;
}
.div-textarea{
    margin-top: 2%;
}
.Gbtn{
    padding-top: 20px;
}
.Gbtn input{
    margin: 10px;
}
