.title{
    margin-left: 3%;
    width: 95%;
    background: #741111;
    color: white;
}
.title h1{
    padding-left: 1%;
}
.content{
    padding: 3%;
    width: 100%;
    background-color: white;
  

}
.content span{
    font-size: 30px;
    color: #707070;
   
}
.content label{
    font-size: 30px;
    color: #707070;
}
.content a{
    font-size: 30px;
    color: #707070;
}
#input-Q{
    margin-left: 20px;
    height: 49px;
    width: 823px;
    border: 1px solid #707070;
}
#input-A{
    
    margin-left: 17px;
    height: 199px;
    width: 823px;
    
    border: 1px solid #707070;
}
.grid{
    
    display: grid;
    grid-template-columns: 295px 1fr;
}
#input-topic{
    font-weight: 200;
    padding: 3px;
    font-size: 25px;
    width: 500px;
}

.content input[type="radio"]{
    margin-top: 3%;
    width: 25px;
    height: 25px;
    margin-left: 20px;
}

.navigation a , span{
    font-size: 25px;
    text-decoration: none;
    padding-left: 10px;
}
.navigation{
    padding-left: 30px;
}
@media only screen and (max-width: 1600px) {

    #input-Q ,#input-A{
        width: 623px;

    }
}