
.content-inside input[type="radio"]{
    width: 25px;
    height: 25px;
    margin-left: 20px;
}
.text-head .span-topic{
    font-weight: 400;
    font-size: 25px;
}
 #input-topic{
    font-weight: 200;
    padding: 3px;
    font-size: 25px;
    width: 500px;
}
.text-head p{
    font-size: 16px;
    font-weight: 300;
line-height: 20px;
padding-left:72px ;
}
.text-head p span{
    padding-left: 280px;
}
#input-data{
    font-size: 20px;
    padding: 3px;
    font-weight: 300;
}
.status{margin-top: 2% }

.status label{
    font-size: 25px;
    padding-left: 20px;
}
.uploadimg{
    margin-top: 2%;
}
.uploadimg {
    position:absolute;
    margin-left: 35%;
    margin-top: -11%;
    width: 600px;
}


.Gbtn{
    padding-top: 20px;
}
.Gbtn input{
    margin: 10px;
}
