.dropdown{
    position: relative;
    display: block;
    transition: ease-in-out 0.5s ;
    min-width: 250px;
    color: black;
    background-color: white;
   margin: 10% 0%;
}
.ul-menu li:hover .dropdown{

    background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  min-width: 250px;
  color: black;
 margin: 10% 0%;
}
.ul-menu .showli{
    background: #A03838 0% 0% no-repeat padding-box;
    color: white;
}
/* content */
.content-inside img{
margin-top: 1.5%;
margin-left: 3.5%;
}
.content-inside .btn-upload ,.btn-delete{
    font-size: 18px;
    width: auto;
}
.gbtn{
    margin-left: 3%;
}
.content{
    height: auto;
}
.content-tech{
    display: inline;
    position: absolute;
        /* margin-top: -15%; */
    margin-left: 30%;
}
.content-tech label{
    font-size: 25px;
}select{
    margin:  1.5% 0 ;
    
}
.content-tech input {
    margin:  1.5% 0 ;
    font-size: 20px;
    padding-left: 2%;
    border-radius: 8px;
border: 1px solid;
}
.content-tech select{
    font-size: 20px;
    border-radius: 8px;
}
.previewimg img{
    max-width: 150px;
    max-height: 200px;
    width: 100%;
    height: 100%;
}
/* foot */
footer{
    margin-top: 0%;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.gb-btn{
    margin-top: 2%;
    float: right;
    margin-bottom: 2%;
}