.head-text h1{
    font-weight: 200;
}
.content-inside p{
    margin: 3%;
    font-size: 26px;
}
.content-inside p input{
font-size: 26px;
/* border-radius: 8px; */
border: 0px;
border-bottom: 1px solid;
}
.btn-ok{
float: right;
margin-right: 10px;
width: 20%;
/* margin-bottom: 5%; */
}
.btn-upload{
float: right;
margin-right: 10px;
width: 20%;
margin-bottom: 1.8%;
margin-top: 10%;
}
select, option{
    font-size: 20px;
}
footer{
    margin-top: 45%;
}
.grid_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.grid_item2{
    height: 381.3px;

}
.grid_item2 label{
    font-size: 26px;
    margin: 3%;
}
legend{
    background: rgb(247, 247, 247);
    padding: 0px 10px;
}
.table{
    margin: 0 auto;
    width: 50%;
}
.table th {
    vertical-align: middle;
}
.table td {
    vertical-align: middle;
}
.btn-delete{
    text-align: center;
}
fieldset{
    /* border: 1px solid;
    border-radius: 8px; */
}
.grid_item2{
    border: 1px solid rgb(218, 218, 218);

    border-radius: 8px;
}
.grid_item1{
    border: 1px solid rgb(218, 218, 218);
    border-radius: 8px;
}