.head-text h1{
font-weight: 200;
font-size: 36px;
padding-top: 5px;
}
.content{
    height: 550px;
}
.content-inside{
    padding: 3% 2%;
    
}
.content-inside span{
    font-size: 25px;
    /* margin-top:1%; */
    /* margin-left: 10%; */
    
}
.content-inside p{
    font-size: 25px;
 margin-bottom: 0px;
}
.content-inside select {
    font-size: 20px;
    width: 8%;
    padding-left: 2%;
    text-align: center;
    border-radius: 8px;
    border: 1px solid;
}
.content-inside input[type="text"]{
    font-size: 20px;
    padding-left: 2%;
    width: 40%;
    border-radius: 8px;
    border: 1px solid;
}
.ckbox label{
    font-size: 25px;
    margin-left: 20px;
}
.ckbox input[type='radio']{
    width: 20px;
    height: 20px;
    margin-left: 20px;
}
.btn-upload{
    margin-left: 5%;
    font-size: 20px;
}
.btn-add{
    margin-left: 5%;
    font-size: 20px;
}
.end_centent{
    margin-top: 3%;
    margin-bottom: 3%;
}
footer{
    margin-top: 35.4%;
    left: 0;
    bottom: 0;
    width: 100%;
}
