.content-inside{
    padding: 0 2%;
}
.content{
    margin-bottom: 2%;
}
.content-inside label{
    font-size: 30px;
}
.content-inside .btn-add{
    margin-left: 60%;
    margin-bottom: 1%;
    margin-top: 1%;
}
.table-striped th{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
}
.table-striped td{
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    

}
.table-striped {
    font-weight: 300;
    width: 80%;
    margin: 0 auto;
}
.table-striped button{
    font-size: 18px;
}

.photo-new{
    width: 80%;
    height: 150px;
margin-left:10%;
transition: ease-in-out 0.5s;
   }
   .photo-new:hover{
       transform: scale(1.5);
   }

.pagination{
    margin-top: 2%;
    margin-left: 40%;
}
footer{
    
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
#pagination_controlsa{

    margin-top: 2%;
    margin-left: 40%;
}
