.content-inside{
    padding: 0 2%;

}

.content{
    margin-bottom:5% ;

}
.content-inside label{
    font-size: 30px;
}

.table-striped th{
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;

}
.table-striped td{
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    

}
.table-striped {
    font-weight: 300;
    width: 90%;
    margin: 0 auto;
}
.table-striped button{
    font-size: 18px;
}

.photo-new{
    width: 190px;
    height: 150px;
margin-left:10%;
transition: ease-in-out 0.5s;
   }
   .photo-new:hover{
       transform: scale(1.5);
   }

.pagination{
    margin-left: 40%;
    margin-top: 1%;
}
.btn-upload{
margin-top: 3%;
margin-bottom: 3%;
    width: 150px;
}
.btn-upload2{
margin-top: 3%;
margin-bottom: 3%;
    width: 150px;
}

.btn-upload2{
    /* background:  linear-gradient(105deg, #73CCE8 , #245F7A ) ; */
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
   border-radius: 5px;
   font-size: 25px;
   margin-top: 3%;
margin-bottom: 3%;
   width: 150px;
   text-align: center;
   color: rgb(255, 255, 255);
   box-shadow: 0px 3px 6px #00000029;
   cursor: pointer;
   padding: 10px;
   transition: ease-in-out 0.3s;
   border: 0px solid;

   background-size: 300% 100%;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
   }
.btn-upload2:hover{
   /* color: rgb(255, 255, 255);
   background:  #73CCE8; */
   background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

}
#pagination_controlsa{

    margin-top: 2%;
    margin-left: 40%;
}

.headA{
    margin-left: 80%;
    margin-bottom: 1%;
    margin-top: 1%;
}