.content-inside{
    padding: 0 2%;
}
.content-inside p ,span{
    margin-left: 10%;
    font-size: 23px;
}
.content{
    margin-bottom: 2%;
}
.content-inside p:nth-child(1){
    margin-top: 3%;
}
.content-inside label{
    font-size: 30px;
}
.content-inside .btn-add{
    margin-left: 60%;
    margin-bottom: 1%;
    margin-top: 1%;
}
.table-striped th{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;

}
.table-striped td{
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    

}
.table-striped {
    font-weight: 300;
    width: 80%;
}
.table-striped button{
    font-size: 18px;
}

.photo-new{
    width: 80%;
    height: 150px;
margin-left:10%;
transition: ease-in-out 0.5s;
}
   .photo-new:hover{
       transform: scale(1.5);
   }

.pagination{
    margin-left: 40%;
}

footer{
    
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}
input[type="text"]{
    border-radius: 8px;
    border: 1px solid;
    padding-left: 1%;
}
#year_st{width: 8%;}
#num_st{width: 8%;}
.data_st span{
    margin-left: 25px;
}
.btn-upload{
    margin: 1% 0% 2% 80%;
}
.data_st{
    margin: 1% 0% 1% 0%;
}
.btn-upload{
    width: auto;
}
.btn-ok{
    margin: 1% 0% 1% 75%;
    
    font-size: 30px;
    width: 150px;
}
.btn-back{
    font-size: 30px;
}